<!DOCTYPE html>
<html>

<head>
    <title>Review Files Page - Sensor Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

</head>

<body>
    <!-- Vertical navbar -->
    <div class="vertical-nav bg-white" id="sidebar">
        <div class="py-4 px-3 mb-4 bg-light">
            <div class="media d-flex align-items-center">
                <img loading="lazy" src="https://upload.wikimedia.org/wikipedia/en/b/b7/Mnit_logo.png" alt="..."
                    width="80" height="80" class="mr-3 rounded-circle img-thumbnail shadow-sm" />
                <div class="media-body">
                    <h4 class="m-0">MNIT Jaipur</h4>
                    <p class="font-weight-normal text-muted mb-0">Sensor Data</p>
                </div>
            </div>
        </div>
        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">
            Logged in as <strong class="text-black" style="color: #000 !important">ADMIN</strong>
        </p>

        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">
            MENU
        </p>

        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a href="/" class="nav-link text-dark bg-light">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    Home
                </a>
            </li>



            <li class="nav-item">
                <a href="#" class="nav-link text-dark">
                    <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                    Contact
                </a>
            </li>
            <li class="nav-item">
                <a href="/uploadfile" class="nav-link text-dark">
                    <i class="fa fa-upload mr-3 text-primary fa-fw"></i>
                    Upload Data
                </a>
            </li>

            <li class="nav-item">
                <a href="/profile/1" class="nav-link text-dark">
                    <i class="fa fa-user mr-3 text-primary fa-fw"></i>
                    My Profile
                </a>
            </li>


            <li class="nav-item">
                <a href="/allprofiles" class="nav-link text-dark">
                    <i class="fa fa-users mr-3 text-primary fa-fw"></i>
                    All Profiles
                </a>
            </li>


            <li class="nav-item">
                <a href="/logout" class="nav-link text-dark">
                    <i class="fa fa-times mr-3 text-primary fa-fw" style="color:red !important;"></i>
                    Logout
                </a>
            </li>



        </ul>
    </div>
    <!-- End vertical navbar -->

    <!-- Page content holder -->
    <div class="page-content p-5" id="content">
        <!-- Toggle button -->
        <!-- <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
                class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button> -->
        <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow px-4 mb-4">
            <i class="fa fa-bars"></i>
        </button>
        <!-- Demo content -->
        <h2 class="display-4">All Profiles</h2>
        <p class="lead mb-0">
            Admin has the power to edit any of the profiles of user.
        </p>
        <!-- <div class="separator"></div> -->
        <div class=" shadow my-4" style="border: 0 !important; border-radius: 15px">
            <div class=" text-center">
                <!--Profile Card 3-->
                <div class="row text-center">

                    <div class="col-md-12 text-center">
                        <div class="card profile-card-3" style="border-radius: 15px !important;overflow: hidden">
                            <div class="background-block" style="overflow: hidden; height:200px !important">
                                <img src="https://sikable.s3.ap-south-1.amazonaws.com/media/courses_cover_photos/700d6570-49ff-4700-b572-800951b46859.jpeg"
                                    alt="profile-sample1" class="background" />
                            </div>

                            <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="files_table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Sheet Name</th>
                                                <th scope="col">Username</th>
                                                <th scope="col">File URL</th>
                                                <th scope="col">Uploaded On</th>
                                                <th scope="col">Status</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in files %}
                                            <tr>
                                                <th scope="row">{{i.sheetname}}</th>
                                                <td>{{i.username}}</td>
                                                <td><a href="{{i.fileupload.url}}">Download</a></td>
                                                <td>{{i.date}}</td>
                                                <td>
                                                    {{i.statusfield}}
                                                </td>

                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- End demo content -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{% static 'script.js' %}"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script>$(document).ready(function () {
            $('#files_table').DataTable();
        });</script>
</body>

</html>